/* scrollbar on chrome */
html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.mainpart .posts {
    position: relative;
    align-self: center;
    width: 72%;
    /* scrollbar on firefox */
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.post {
    background: var(--post_background) 0% 0% no-repeat padding-box;
    height: 250px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.post_picture {
    width: 250px;
}

.post_picture > img{
    height: 100%;
    width: inherit;
}

.post_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: -moz-available;
    width: -webkit-fill-available;
    padding-left: 10px;
    color: #1D1B51;
}

.post_content .post_upper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1em;
}

.post_title {
    margin-bottom: 0.5em;
    font-weight: 900;
    font-size: larger;
    letter-spacing: 0;
}

.post_place {
    font-size: small;
}

.post_tags {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 5%;
    top: 10%;
}

.post_tag {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BCE0FD;
    border-radius: 4px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.post_title_and_place {
    margin-bottom: 1em;
}

.post_social {
    position: absolute;
    bottom: 25px;
}

.post_social img {
    margin-left: 10px;
    margin-right: 5px;
}

.post_add {
    margin-left: 2%;
    margin-bottom: 2%;
}
.post_add .far {
    font-size: 5em;
    color: silver;
}

@media screen and /*(max-width: 700px)*/(max-device-aspect-ratio: 1/1) {
    .post {
        height: 30%;
    }
    .post_picture {
        width: 5em;
        height: 5em;
        position: inherit;
    }

    .post_content {
        padding-left: 0;
    }

    .post_tags {
        display: none;
    }

    .post_title {
        font-size: smaller;
    }

    .post_content .post_upper {
        justify-content: center;
    }

    .post_middle {
        overflow: hidden;
        height: 3em;
    }

    .post_social {
        bottom: 7%;
        white-space: nowrap;
        margin-left: -4em;
    }

    .logofunc .fas {
        font-size: xx-large;
    }

    .logofunc .logo {
        margin-top: 0;
        align-self: center;
    }

    .post_title_and_place {
        margin-left: 2em;
    }
}