.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(180deg, #5F28CC 0%, #7A82BF 86%, #584CC6 100%) 0% 0% no-repeat padding-box;
    vertical-align: middle;
}

.cars-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15%;
}

.car-solid-img {
    margin-top: 8%;
    opacity: 0.86;
}

.car-crash-img {
    opacity: 0.78;
}

.slogan {
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 15%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    color: white;
}

.logopart {
    left: 0;
    background: inherit;
    display: flex;
    flex-direction: column;
}

.panel {
    right: 0;
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.midline {
    top: 0;
    left: 50%;
    position: fixed;
    background: #00000000 0% 0% no-repeat padding-box;
    border: 1px solid #6978B3;
    height: 100%;
    opacity: 1;
    filter: blur(3px);
}

.have-account { /* TODO: change name (doesn't fit in login.php) */
    display: inherit;
    text-align: left;
    opacity: 1;
    align-self: center;
    margin-top: 6em;
}

.have-account > a {
    letter-spacing: 0;
    color: #383499;
    font-size: 1.1em;
}

.social {
    margin-top: 12%;
}

.social > a {
    box-sizing: content-box;
    padding: 0 3em 0 3em;
}

#name-input {
    background-image: url(../img/Profile.svg);
    background-position: 2% 45%;
    padding-left: 2em;
}

#email-input {
    background-image: url(../img/Messages.svg);
    background-position: 2% 50%;
    padding-left: 2em;
}

#password-input {
    background-image: url(../img/Lock.svg);
    background-position: 2% 45%;
    padding-left: 2em;
}

.logo > img {
    margin-top: 0.4em;
}

@media screen and /*(max-width: 700px)*/(max-device-aspect-ratio: 1/1)  {
    body {
        display: flex;
        flex-direction: column;
    }

    .midline {
        display: none;
    }

    .slogan {
        display: none;
    }

    .cars-box {
        display: none;
    }

    .split {
        height: 100%;
        width: 100%;
        top: 0;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .logopart {
        background: unset;
        background-color: #5F28CC;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 12%;
        font-size: 0.6em;
        white-space: nowrap;
        padding-bottom: 6%;
        z-index: 1;
        overflow-y: hidden;
    }

    .logo {
        align-self: center;
    }

    .logo > img {
        margin-top: 0.4em;
        width: 35%;
        height: auto;
        flex: 1;
        box-sizing: border-box;
    }

    .social > a {
        box-sizing: content-box;
        padding: 0 1em 0 1em;
    }

    .panel > .inputpanel > form {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-self: center;
    }

}