html, body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(180deg, #5F28CC 0%, #7A82BF 86%, #584CC6 100%) 0% 0% no-repeat padding-box;
    vertical-align: middle;
}

.cars-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15%;
}

.car-solid-img {
    margin-top: 8%;
    opacity: 0.86;
}

.car-crash-img {
    opacity: 0.78;
}

.logo {
    font-size: 4em;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slogan {
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 15%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    color: white;
}

.logopart {
    left: 0;
    background: inherit;
    display: flex;
    flex-direction: column;
}

.panel {
    right: 0;
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.midline {
    top: 0;
    left: 50%;
    position: fixed;
    background: #00000000 0% 0% no-repeat padding-box;
    border: 1px solid #6978B3;
    height: 100%;
    opacity: 1;
    filter: blur(3px);
}

.have-account { /* TODO: change name (doesn't fit in login.php) */
    display: inherit;
    text-align: left;
    opacity: 1;
    align-self: center;
    margin-top: 6em;
}

.have-account > a {
    letter-spacing: 0;
    color: #383499;
    font-size: 1.1em;
}

.panel > .tmpname > form {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
}

.tmpname {
    display: flex;
    flex-direction: column;
}

.tmpname > form > .btn {
    width: 80%;
    align-self: center;
    height: 6vh;
    background: #383499;
    border-color: #383499;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10%;
}

.panel > .tmpname > form > input { /* TODO: add line below text */
    mix-blend-mode: lighten;
    opacity: 0.65;
    background: #A197E2 0% 0% no-repeat;
    border: transparent;
    border-radius: 4px;
    margin: 1em;
    min-height: 6vh;
    color: white;
    font-size: 1em;
    padding-left: 1em;
}

.social {
    margin-top: 12%;
}

.social > a {
    box-sizing: content-box;
    padding: 0 3em 0 3em;
}

#name-input {
    background-image: url(../img/Profile.svg);
    background-position: 2% 45%;
    padding-left: 2em;
}

#email-input {
    background-image: url(../img/Messages.svg);
    background-position: 2% 50%;
    padding-left: 2em;
}

#password-input {
    background-image: url(../img/Lock.svg);
    background-position: 2% 45%;
    padding-left: 2em;
}

.logo > img {
    margin-top: 0.4em;
}

@media screen and (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .midline {
        visibility: hidden;
    }

    .slogan {
        visibility: hidden;
    }

    .cars-box {
        visibility: hidden;
    }

    .split {
        height: 100%;
        width: 100%;
        top: 0;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .logopart { /* add arrow in mobile version */
        background: unset;
        background-color: #5F28CC;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 12%;
        font-size: 0.6em;
        white-space: nowrap;
        padding-left: 115%; /* make it more responsive*/
        padding-bottom: 6%;
    }

    .logo {
        align-self: center;
    }

    .logo > img {
        margin-top: 0.4em;
        width: 35%;
        height: auto;
        flex: 1;
        box-sizing: border-box;
    }

    .panel {
        margin-top: 20%;
        height: 90%;
    }

    .social > a {
        box-sizing: content-box;
        padding: 0 1em 0 1em;
    }

    .panel > .tmpname > form {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-self: center;
    }
}
/*
.container {

    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(180deg, #5F28CC 0%, #7A82BF 86%, #584CC6 100%) 0% 0% no-repeat padding-box;
    vertical-align: middle;
}*/

.functional {
    background: transparent linear-gradient(180deg, #5F28CC 0%, #7A82BF 86%, #584CC6 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100vh;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

.list-group {
    padding: 1em 0em;
    width: min-content;
}

.navbar {
    background: #602BCB 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 7%;
    height: 100%;
    width: min-content;
    display: flex;
}

.logofunc { /* justify in the middle of the screen*/
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    color: white;
}

.logofunc .logo {
    scale: 70%;
}

.navbutton {
    background: #773CEF 0% 0% no-repeat padding-box;
    background-size: contain;
    border-radius: 4px;
    opacity: 1;
    background-position: center;
    justify-content: flex-start;
}

.navbar .list-group-item {
    background: #773CEF 0% 0% no-repeat padding-box;
    padding: 0.3em 0.3em;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.navbar img {
    padding: 7% 7% 7% 7%;
    justify-content: center;
    align-content: center;
    height: 9.5vh;
    width: auto;
}

.navbar .burger {
    padding-left: 20%;
}
/*
.navbutton > p {
    visibility: collapse;
}

.navbutton > img {
    width: 100%;
    padding: 7% 7% 7% 7%;
    justify-content: center;
}*/

.navbar .list-group-item:hover {
    opacity: 0.1;
    background: #a285de 0% 0% no-repeat padding-box;
}

.menubutton {
    padding: 20% 20% 20% 20%;
}

.map { /* TODO change name and fix it*/
    padding-left: 1em; 
}

@media screen and (max-width: 700px) {
    .navbar {
        background: #602BCB 0% 0% no-repeat padding-box;
        opacity: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .navbutton {
        background: #773CEF 0% 0% no-repeat padding-box;
        background-size: contain;
        border-radius: 4px;
        opacity: 1;
        background-position: center;
        width: 40%;
        height: 10%;
    }

    .menubutton {
        padding: 0;
    }

    .navbutton > p {
        visibility: visible;
    }
}
/*
.burger {
    background-size: 50%;
    background-image: url(../img/Menu.svg);
}
.map {
    background-size: 85%;
    background-position-x: 75%;
    background-image: url(../img/Large\ Pin.svg);
}

.city {
    background-image: url(../img/city-solid.svg);
}

.notification {
    background-image: url(../img/Alert.svg);
}

.settings {
    background-image: url(../img/Settings.svg);
}

.profile {
    background-image: url(../img/Profile2.svg);
}

.help {
    background-image: url(../img/question-solid.svg);
    display: flex;
    align-self: flex-end;
}*/

/* 
TODO:
clean up 
change tmpname class name
add line below text in inputbox
*/

.navbar li {
    margin: 0 0 20% 0;
}