:root {
    --post_background: #ccd2cd59;
}

html, body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
}

.logo {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.logopart a:hover {
    text-decoration: none !important;
}


.inputpanel > form {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
}

.inputpanel {
    display: flex;
    flex-direction: column;
}

.inputpanel > form > .btn {
    width: 80%;
    align-self: center;
    height: 6vh;
    background: #383499;
    border-color: #383499;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10%;
    line-height: 0;
    margin-bottom: 5%;
}

.inputpanel > form > input {
    mix-blend-mode: lighten;
    opacity: 0.65;
    background: #A197E2 0% 0% no-repeat;
    border: transparent;
    border-radius: 4px;
    margin: 1em;
    min-height: 6vh;
    color: white;
    font-size: 1em;
    padding-left: 1em;
    border-bottom: 1px solid white;
}

@media screen and /*(max-width: 700px)*/(max-device-aspect-ratio: 1/1) {
    body {
        display: flex;
        flex-direction: column;
    }
}

