body {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(180deg, #5F28CC 0%, #7A82BF 86%, #584CC6 100%) 0% 0% no-repeat padding-box;
    vertical-align: middle;
}

.cars-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15%;
}

.car-solid-img {
    margin-top: 8%;
    opacity: 0.86;
}

.car-crash-img {
    opacity: 0.78;
}

.logo {
    font-size: 4em;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slogan {
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 15%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    color: white;
}

.logopart {
    left: 0;
    background: inherit;
    display: flex;
    flex-direction: column;
}

.panel {
    right: 0;
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.midline {
    top: 0;
    position: fixed;
    background: #00000000 0% 0% no-repeat padding-box;
    border: 1px solid #6978B3;
    height: 100%;
    opacity: 1;
    filter: blur(3px);
}

.have-account {
    display: inherit;
    text-align: left;
    opacity: 1;
    align-self: center;
    margin-top: 6em;
}

.have-account > a {
    letter-spacing: 0;
    color: #383499;
    font-size: 1.1em;
}

.panel > .tmpname > form {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
}

.tmpname {
    display: flex;
    flex-direction: column;
}

.tmpname > form > .btn {
    width: 80%;
    align-self: center;
    min-height: 17%;
    background: #383499;
    border-color: #383499;
    font-size: 1.5em;
    font-weight: bold;
}

.panel > .tmpname > form > input { /* TODO: add line below text */
    mix-blend-mode: lighten;
    opacity: 0.65;
    background: #A197E2 0% 0% no-repeat;
    border: transparent;
    border-radius: 4px;
    margin: 1em;
    min-height: 16.6%;
    color: white;
    font-size: 1em;
    padding-left: 1em;
}

.social {
    margin-top: 12%;
}

.social > a {
    box-sizing: content-box;
    padding: 0 3em 0 3em;
}

#name-input {
    background-image: url(../img/Profile.svg);
    background-position: 2% 45%;
    padding-left: 2em;
}

#email-input {
    background-image: url(../img/Messages.svg);
    background-position: 2% 50%;
    padding-left: 2em;
}

#password-input {
    background-image: url(../img/Lock.svg);
    background-position: 2% 45%;
    padding-left: 2em;
}

.logo > img {
    margin-top: 0.4em;
}

/* 
TODO:
clean up 
change tmpname class name
add line below text in inputbox
add responsive design
*/